/* Universal Styles */

body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
/* Header */

header {
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 10px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  width: 100%;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  color: white;
}

a {
  color: seashell;
}


/* Universal Styles - News Stories */
